/* .parallax { */
  /* The image used */
  /* background-image: url("/images/About/luminary_towers.gif"); */
  /* Set a specific height */
  /* min-height: 1050px; */
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */
/*  */
.text-box {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-size: 30px;
  font-weight: 20px;
  color: #edca38;
  text-shadow: 2px 2px #000000;
  /* color: #edca38; */
}
/* bg-box */
body {
  background-image: url(../images/background/leavestrans.png);
  /* background-attachment: fixed;
background-size: cover;

background-repeat: no-repeat;  */
}
.video-container {
  max-width: 120%; 
  height: auto; /
}

/* card */
.wrap-box {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 70px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #423f3f;
}
/*  */
#box-container {
  background-color: #1e2431;
}
/* CARD IMAGE*/
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
  background: linear-gradient(to bottom, #000000, #323232);
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

#mngtTeam {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
  background: radial-gradient(circle, #000000, #2f3132);
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.card {
  border-radius: 10px !important;
  
}
.card-body {
  background-color: #537188;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
/* card padding */
.card-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-title {
  color: #EEEEEE !important;
}

.card-title strong {
  color: #EEEEEE !important;
}
/* navbar and footer */

p, ul {
  font-family: 'Roboto', sans-serif;
}
.navbar {
   /* display: flex;
   align-items: center; */
   background-color: #1E2431 !important; 
   /* padding: 10px 20px; */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.678)
}

.navbar-brand img {
   height: 60px;
   
}

.navbar-brand  {
   color: #EDCA38 !important;
   font-size:27px !important;

}
.burger-menu {
   display: none;
   font-size: 24px;
   cursor: pointer;
}

.nav-item a, li{
   color: #EDCA38;
   text-shadow: 4px 2px 5px #000000;
}
/* Styling for the footer */
.custom-footer {
   font-family: 'Roboto', sans-serif;
   background: #1E2431;
   color: #FFF4D6;
   text-shadow: 2px 2px 8px #000000;
   position: relative;
   top: 30px;
}
.custom-footer p {
   color:#FFF4D6;

}


#copyRight {
   background-color: #252525; 
   padding-bottom: 10px;
   
}
#copyNote {
   color: #FFF4D6;
   padding-top: 50px;
  
}
#footBranding {
   height: 30vh;
   background-image: url("../images/logo//brandlogowhitefooter.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   transform: tr;
          
}