body {
    background-color: #FFF4D6;
    /* padding-top: 150px;   */
    background-image: url("../images/background/leavestrans.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* form starts */
.box-php{
    text-align: center;
}
form{
    position: relative;
    top: 30px;
    background-color: #1E2431;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #EDCA38;
    z-index: 3;
}
/* h2 starts */
h2 {
    text-align: center;
    color: #EDCA38;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* submit button */
input[type="submit"] {
    background-color: #EDCA38 ;
    color: #1E2431;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

/* Center the submit button */
input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/* Add responsive styles */
@media (max-width: 600px) {
    form {
        max-width: 90%;
    }
}

@media (max-width: 400px) {
    form {
        padding: 10px;
    }
}

/* navbar and footer */
/* burger menu change color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28237,202,56, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler {
  border: 1px solid #EDCA38  !important;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #523901;
    font-weight: bold;
}

p, ul {
   font-family: 'Roboto', sans-serif;
}
.navbar {
    /* display: flex;
    align-items: center; */
    background-color: #1E2431 !important; 
    /* padding: 10px 20px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.678)
}
/* .nav-link{
  color: #EDCA38 !important;
} */

.navbar-brand img {
    height: 60px ;
    
}

.navbar-brand {
    color: #EDCA38 !important;
    font-size:27px !important;

}
.burger-menu {
    display: none;
    font-size: 24px ;
    cursor: pointer;
}

.nav-item a, li{
    color: #EDCA38;
    text-shadow: 4px 2px 5px #000000;
}
/* Styling for the footer */
.custom-footer {
    font-family: 'Roboto', sans-serif;
    background: #1E2431;
    color: #FFF4D6;
    text-shadow: 2px 2px 8px #000000;
    position: relative;
    top: 30px;
}
.custom-footer p {
    color:#FFF4D6;

}


#copyRight {
    background-color: #252525; 
    padding-bottom: 10px;
    
}
#copyNote {
    color: #FFF4D6;
    padding-top: 50px;
   
}
#footBranding {
    height: 30vh;
    background-image: url("../images/logo//brandlogowhitefooter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transform: tr;
           
}
/* footer ends */
.overlayeffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    backdrop-filter: blur(8px); /* Apply a blur effect */
    z-index: 1; /* Place it below the login container */
}
#closeButton {
    position: relative;
    left: 335px;
    background-color: transparent; /* Remove background color */
        color: #EDCA38; /* Set text color to red */
        border: none; /* Remove border */
        padding: 0; /* Remove padding */
        font-size: 15px; /* Adjust font size as needed */
}