body {
    background-color: #FFF4D6 ;
  
}
h2 {
    font-family: 'Playfair Display', serif;
    color: #523901;
    font-weight: bold;
}

p, ul {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    /* display: flex;
    align-items: center; */
    background-color: #537188; 
    /* padding: 10px 20px; */
}

.navbar-brand img {
    height: 60px;
    
    
}

.navbar-brand {
    color: #EDCA38 ;
    font-size:27px;

}
.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-item a, li{
    color: #F8F7DA;
    text-shadow: 4px 2px 5px #000000;
}
/* Styling for the footer */
.custom-footer {
    font-family: 'Roboto', sans-serif;
    background: #537188;
    color: #FFF4D6;
    text-shadow: 2px 2px 8px #000000;
}

#copyRight {
    background-color: #252525; 
    padding-bottom: 10px;
    
}
#copyNote {
    color: #FFF4D6;
    padding-top: 20px;
}
#footBranding {
    height: 30vh;
    background-image: url("../images/logo//brandlogowhitefooter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transform: tr;
        
           
}
