body {
    background-color: #FFF4D6 ;
  
}



p, ul {
    font-family: 'Roboto', sans-serif;
 }
 .navbar {
     /* display: flex;
     align-items: center; */
     background-color: #1E2431 !important; 
     /* padding: 10px 20px; */
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.678)
 }
 
 .navbar-brand img {
     height: 60px;
     
 }
 
 .navbar-brand {
     color: #EDCA38 ;
     font-size:27px;
 
 }
 .burger-menu {
     display: none;
     font-size: 24px;
     cursor: pointer;
 }
 
 .nav-item a, li{
     color: #EDCA38;
     text-shadow: 4px 2px 5px #000000;
 }
 /* Styling for the footer */
 .custom-footer {
     font-family: 'Roboto', sans-serif;
     background: #1E2431;
     color: #FFF4D6;
     text-shadow: 2px 2px 8px #000000;
     position: relative;
     top: 30px;
 }
 .custom-footer p {
     color:#FFF4D6;
 
 }
 
 
 #copyRight {
    background-color: #fcfcfc00; 
  
    
}
#copyNote {
    color: #4646469a;
 
   
}
 #footBranding {
     height: 30vh;
     background-image: url("../images/logo//brandlogowhitefooter.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: relative;
     transform: tr;
            
 }
 
 .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place the video behind other content */
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#form {
    background-image: url('../images/background/leavestrans.png');
    width: 27%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(15, 14, 59);
    border-radius: 6px;
    z-index: 5;
    color: #523901;

}

h1 {

        font-family: 'Playfair Display', serif;
        color: #523901;
        font-weight: bold;
        font-size: 40px;
        text-shadow: 2px 2px 2px rgba(235, 235, 235, 0.541);

}
#btn {
    color: aliceblue;
    background-color: #52380188;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: large;
    border-radius: 10px;
}
@media screen and (max-width:700px) {
    #form {
        width: 65%;
        padding:40px;
    }
}

.custom-button {
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
